<div class="container mt-4">
  <div
    id="multiple-carousel_{{ id }}"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner rounded" style="background-color: #fca311">
      <div
        class="carousel-item py-3 rounded"
        *ngFor="let poster of postersList; let i = index"
        [class.active]="i === 0"
      >
        <div class="row mx-0">
          <div class="col-1"></div>
          <div
            class="col-md-4"
            [routerLink]="['movie', poster.id]"
            style="cursor: pointer"
          >
            <img
              src="https://image.tmdb.org/t/p/original/{{ poster.poster_path }}"
              class="rounded d-block w-100"
            />
          </div>
          <div
            class="d-none ml-2 col-6 d-md-flex flex-column justify-content-around"
          >
            <div>
              <h2 class="display-3">{{ poster.title }}</h2>
              <div>
                {{ poster.overview }}
              </div>
            </div>

            <a
              class="btn btn-dark btn-lg mt-3 w-50"
              [routerLink]="['movie', poster.id]"
              >detail</a
            >
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#multiple-carousel_{{ id }}"
      role="button"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon"
        aria-hidden="true"
        style="background-color: #14213d; border-radius: 40%"
      ></span>
      <span class="visually-hidden">Previous</span>
    </a>

    <a
      class="carousel-control-next"
      href="#multiple-carousel_{{ id }}"
      role="button"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon"
        aria-hidden="true"
        style="background-color: #14213d; border-radius: 40%"
      ></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
