<!-- carousel hero start-->
<section class="hero">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div
        class="carousel-item"
        *ngFor="let b of bannerList; let i = index"
        [class.active]="i === 0"
      >
        <a [routerLink]="['movie', b.id]">
          <div id="img-wrapper">
            <img
              src="{{ imgPath + b.backdrop_path }}"
              class="w-75 mx-auto"
              id="poster"
            />
            <img
              src="{{ imgPath + b.poster_path }}"
              class="w-75 mx-auto"
              id="poster-mobile"
            />
            <div class="carousel-caption d-none d-md-block">
              <h2 id="title">
                {{ b.title ? b.title : b.name }}
              </h2>
            </div>
          </div>
        </a>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- carousel hero end-->

<!-- <movie-detail [movieDetails]="upcomingPosters[0][0]"></movie-detail> -->

<section class="py-5">
  <div class="mt-4 text-white">
    <h2>nowPlayingPosters</h2>
    <multiple-carousel
      [id]="1"
      [postersList]="nowPlayingPosters"
    ></multiple-carousel>
  </div>

  <div class="mt-4">
    <h2>upcomingPosters</h2>
    <multiple-carousel
      [id]="2"
      [postersList]="upcomingPosters"
    ></multiple-carousel>
  </div>
</section>
